<% layout("/layouts/boilerplate")%>
<style>
    .main{
        display: flex;
    }
    .card{
        border: 1px solid rgba(0, 0, 0, 0.25) !important;
        height: 500px;
        width: 500px;
        margin-top: 10px;
        
    }
    .pp{
        height: 30px;
        width: 30px;
        border-radius: 50%;
    }
    .pp2{
        height: 40px;
        width: 40px;
        border-radius: 50%;
    }

    .card-top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.6rem 0.6rem;
    }

    .mid-icons{
        display: flex;
        justify-content: space-between;
    }
    .username{
        text-decoration: none;
        color: black;
    }
    .img-container{
        height: 350px;
        width: 500px;
        
    }
    .post-img{
        height: 100%;
        width: 100%;
        object-fit:cover;
        position: relative;
    }
    .suggestions{
        position:absolute;
        top: 75px;
        right: 50px;
        height: 70vh;
        width: 300px;
    }
    .user-info,.user-info-left{
        display: flex;
        height: 50px;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 0 0.5rem 0 0.25rem;
    }
    .user-info-left{
        justify-content: left;
    }
    .name{
        margin-left: 0.7rem;
    }
    .suggetion-4u-bar{
        margin-top: 1rem;
        margin-bottom: 1rem;
        display: flex;
        justify-content: space-between;
        padding: 0 0.5rem;
    }
    a{
        text-decoration: none;
    }
</style>
<div class="main">
    <div class="allposts offset-3">
        <% for(let post of posts) {%>
            <div class="card">
                <div class="card-top">
                    <div>
                        <img class="pp card-img-top" src="<%=post.imageUrl%>">
                        <a class="username" href="/u/<%=post.username%>"><%=post.username%></a>
                    </div>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>
                <a href="/posts/<%=post._id%>"><div class="img-container" >
                    <img class="post-img" src="<%=post.imageUrl%>">
                </div></a>
                <div class="card-desc1">
                    <div class="mid-icons">
                        <i class="fa-regular fa-heart"></i>
                        <i class="fa-regular fa-comment"></i>
                    </div>   
                    <i class="fa-regular fa-bookmark"></i> 
                </div>
            </div>
        <% }%>
</div>

<div class="suggestions">
    <div class="user-info">
        <div class="user-info-left">
            <div class="pp2">
                <img class="pp2" src="https://cdn.mos.cms.futurecdn.net/39CUYMP8vJqHAYGVzUghBX-1200-80.jpg">
            </div>
            <div class="name">invisible strings</div>
        </div>
        <div class="switch"><a href="/">switch</a></div>
    </div>
    <div class="suggetion-4u-bar" style=" font-size: 14px;"><span style="color: rgba(0, 0, 0, 0.5);">Suggested for you</span> <a>See All</a></div>
    <div class="sugg-list">      
        <% for(let i = 0;i<5;i++){ %>
            <div class="user-info">
                <div class="user-info-left">
                    <div class="pp2">
                        <img class="pp2" src="https://cdn.mos.cms.futurecdn.net/39CUYMP8vJqHAYGVzUghBX-1200-80.jpg">
                    </div>
                    <div class="name">invisible strings</div>
                </div>
                <div class="switch"><a href="/">follow</a></div>
            </div>
        <%}%>
    </div>
</div>

</div>
