<% layout("/layouts/boilerplate")%>
<style>
    .main{
        display: flex;
    }
    .card{
        border: 1px solid rgba(0, 0, 0, 0.25) !important;
        height: auto;
        width: 500px;
        margin-top: 10px;
        padding-bottom: 0.5rem;
    }
    .pp{
        height: 30px;
        width: 30px;
        border-radius: 50%;
        object-fit: cover;
    }
    .pp2{
        height: 40px;
        width: 40px;
        border-radius: 50%;
        object-fit: cover;
    }

    .card-top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.6rem 0.6rem;
    }
    .card-desc1{
        display: flex;
        justify-content: space-between;
        padding: 0.5rem 0.25rem;
    }
    .mid-icons{
        display: flex;
        justify-content: space-between;
    }
    .mid-icons i{
        font-size: 24px;
    }
    .mid-icons i:not(:last-child){
        margin-right: 1rem;
    }

    .username{
        text-decoration: none;
        color: black;
    }
    .img-container{
        height: 350px;
        width: 500px;
        
    }
    .post-img{
        height: 100%;
        width: 100%;
        object-fit:cover;
        position: relative;
    }
    .suggestions{
        position:absolute;
        top: 75px;
        right: 50px;
        height: 70vh;
        width: 300px;
    }
    .user-info,.user-info-left{
        display: flex;
        height: 50px;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 0 0.5rem 0 0.25rem;
    }
    .user-info-left{
        justify-content: left;
    }
    .name{
        margin-left: 0.7rem;
    }
    .suggetion-4u-bar{
        margin-top: 1rem;
        margin-bottom: 1rem;
        display: flex;
        justify-content: space-between;
        padding: 0 0.5rem;
    }
    .sugg-id{
        font-size: 14px;
        font-weight: 500;
    }
    .sugg-line{
        font-size: 12px;
        color: #737373;
    }
    .follow-button{
        border: none;
        background-color: transparent;
        color: #0095f6;
    }
    .follow-button, .switch a{
        font-size: 14px;
        border: none;
        background-color: transparent;
        color: #0095f6;
    }
    .unfollow-button{
        font-size: 14px;
        border: none;
        background-color: transparent;
        color: #b91c1c;
    }
    #unfollowForm{
        display: none;
    }
    .add-dp{
        background-color: #252525;
        height: 25px;
        width: 100%;
        display: none; 
        justify-content: center;
        align-items: center;
    }
    .add-dp a{
        color: white;
    }

    .likes, .caption-line,.view-comments,.comment-input{
        margin-left: 0.4rem;
        font-size: 14px;
    }
    .likes,.username-cap{
        font-weight: 500;
    }
    .view-comments{
        color: #737373;
    }
    .comment-input{
        width: 80%;
        border: none;
    }
    .comment-input:focus{
        outline: none;
        border: none;
    }
    .cmt-post-btn{
        display: none;
        font-size: 14px;
        border: none;
        outline: none;
        background-color: transparent;
        color: #0095f6;
    }
    .add-comment-form{
        display: flex;
        justify-content: space-between;
        padding-right: 0.25rem;
    }
    #likeForm button, #unlikeForm button{
        display: flex;
        justify-content: center;
        border: none;
        background-color: transparent;
        font-size: 24px;
        padding: 0;
        margin-right: 1rem;
    }
    #unlikeForm button{
        color: red;
    }
</style>
<div class="add-dp">
    <a href="/accounts/edit">Hey there! Let's make your profile stand out. Click here to Upload a cool profile picture</a>
</div>
<div class="main">
    <div class="allposts offset-3">
        <% for(let post of posts) {%>
            <div class="card">
                <div class="card-top">
                    <div>
                        <img class="pp card-img-top" src="<%=post.user.profilePicture%>" loading="lazy">
                        <a class="username" href="/u/<%=post.user.username%>"><%=post.user.username%></a>
                    </div>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>
                <a href="/posts/<%=post._id%>"><div class="img-container" >
                    <img class="post-img" src="<%=post.imageUrl%>" loading="lazy">
                </div></a>
                <div class="card-desc1">
                    <div class="mid-icons">
                        <form id="likeForm" method="POST" action="/posts/like/<%=post._id%>" style="<%= currUser.liked.includes(post._id) ? 'display: none;' : 'display: block;' %>">
                            <button>
                                <i class="fa-regular fa-heart like-btn"></i>
                            </button>
                        </form>
                            <form id="unlikeForm" method="POST" action="/posts/unlike/<%=post._id%>" style="<%= currUser.liked.includes(post._id) ? 'display: block;' : 'display: none;' %>">
                                <button>
                                    <i class="fa-solid fa-heart unlike-btn"></i>
                                </button>
                            </form>
                        <i class="fa-regular fa-comment"></i>
                        <i class="fa-solid fa-location-arrow"></i>
                    </div>   
                    <div class="mid-icons">
                        <i class="fa-regular fa-bookmark"></i> 
                    </div>
                </div>
                <div class="likes">
                    <%=post.likes%> likes
                </div>
                <div class="caption-line">
                    <span class="username-cap"><%=post.user.username %></span>
                    <span class="caption"><%=post.caption %></span>
                </div>
                <% if(post.comments.length>0){ %>
                    <div class="view-comments">View <%=post.comments.length>1 ? "all" : ""%> <%=post.comments.length%> comment</div>
                <% } %>
                <div>
                    <form class="add-comment-form" method="PUT" action="/comments">
                        <input class="comment-input" type="text" placeholder="Add a comment.." oninput="toggleButton()">
                        <button class="cmt-post-btn">Post</button>
                    </form>
                </div>
            </div>
        <% }%>
</div>

<div class="suggestions">
    <div class="user-info">
        <div class="user-info-left">
            <div class="pp2">
                <img class="pp2 currUser-pp" src=<%=currUser.profilePicture%>>
            </div>
            <div class="name"><%=currUser.username%></div>
        </div>
        <div class="switch"><a href="/login">switch</a></div>
    </div>
    <% if(suggestionList[0]){ %>
    <div class="suggetion-4u-bar" style=" font-size: 14px;"><span style="color: rgba(0, 0, 0, 0.5);">Suggested for you</span> <a style="font-size: 12px; font-weight: 500;">See All</a></div>
    <% } %>
    <div class="sugg-list">      
        <% for(let user of suggestionList){ %>
            <div class="user-info">
                <div class="user-info-left">
                    <div class="pp2">
                        <a href="/u/<%=user.username%>">
                            <img class="pp2" src="<%=user.profilePicture%>">
                        </a>    
                    </div>
                    <div class="name">
                        <div class="sugg-id"><a href="/u/<%=user.username%>"><%=user.username%></a></div>
                        <div class="sugg-line">Suggested for you</div>
                    </div>
                </div>
                <form id="followForm" method="POST" action='/follow/<%=user.username%>'>
                    <button type="submit" class="follow-button">follow</button>
                </form>
                <form id="unfollowForm" method="POST" action='/unfollow/<%=user.username%>'>
                    <button type="submit" class="unfollow-button">unfollow</button>
                </form>
            </div>
        <%}%>
    </div>
</div>
</div>

<script>
    let url = "https://i.pinimg.com/736x/18/b9/ff/18b9ffb2a8a791d50213a9d595c4dd52.jpg";
    let currUser = document.querySelector('.currUser-pp');
    if(currUser.src == url){
        document.querySelector('.add-dp').style.display = 'flex';
        document.querySelector('.suggestions').style.top = '110px';
    }

    function toggleButton() {
        let input = document.querySelector(".comment-input").value;
        let postBtn = document.querySelector(".cmt-post-btn");
        postBtn.style.display = input.trim()=="" ? "none" : "block";
    }
</script>
<script src="/js/follow-unfollow.js"></script>
<script>
    function increase(){
        let div = document.querySelector('.likes');
        let likes = parseInt(div.textContent, 10);
        console.log(div);
        likes = likes+1;
        div.textContent = likes + " likes";
    }
    function decrease(){
        let div = document.querySelector('.likes');
        let likes = parseInt(div.textContent, 10);
        console.log(div);
        likes = likes-1;
        div.textContent = likes + " likes";
    }
    document.querySelector('.like-btn').addEventListener('click',increase);
    document.querySelector('.unlike-btn').addEventListener('click',decrease);
</script>