<% layout("/layouts/boilerplate")%>

<img style="height: 50vh; width: 50vh;" src="<%=post.imageUrl%>">
<p>username : <%=post.username %></p>
<p>caption : <%=post.caption %></p>
<p>createdAt : <%=post.createdAt %></p>

<a href="/posts/<%=post._id%>/edit"><button>Edit</button></a>
<form method="post" action="/posts/<%=post._id%>?_method=DELETE">
    <button>DELETE</button>
</form>
